@keyframes hideshow {
  0% { opacity: 1; }
  50% { opacity: 1; }
  75% { opacity: 0; }
  100% { opacity: 0; }
}

svg {
  z-index: 1;
}

body {
  background: #efefef;

  .container {
    margin-top: 1em;
  }
}

.map-pin {
  position: absolute;
  top: 10%;
  right: 10%;
  opacity: 1;
  //animation: hideshow 20s 1s ease infinite;
}